# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter / Dart / Pub
.packages
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/ephemeral/

# Web
web/.dart_tool/
web/.flutter-plugins

# Obfuscation / Symbolication
app.*.symbols
app.*.map.json

# Env & Locks
.env
*.lock
*.tmp
# Firebase / secrets / locales
functions/.env
.env
google-services.json.bak
empty_plugin/

# Flutter SDK local (si présent)
flutter/
# ne pas versionner un SDK Flutter local !
flutter/
# autres fichiers sensibles/parasites
functions/.env
.env
google-services.json.bak
empty_plugin/
android_old/
build/
.dart_tool/
.gradle/
.idea/

android/app/src/main/res/values/strings.xml
key.properties
*.jks
